@font-face {
    font-family: bubblegum;
    src: url(../_fonts/bubblegum-sans-regular.otf);
}

@font-face {
    font-family: roboto;
    src: url(../_fonts/Roboto-Regular.ttf);
}

ul {
    list-style: none;
    text-transform: uppercase;
}

ul li {
    /*background-color: #eeeeee;*/
}

a {
    color: #242424;
    font-family: roboto, sans-serif;
    font-weight: bold;
    font-size: 11pt;
    text-decoration: none;
}

    a:hover {
        background-color: #dddddd;
    }

    /*a.active {
        border-bottom: 3px solid #cccccc;
    }*/

#tituloSite {
    font-size: 29pt;
    font-family: bubblegum;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

h3#subtitulo {
    font-size: 15pt;
    font-family: bubblegum;
    color: #888888;
}

.tituloForm {
    font-size: 21px;
    font-weight: bold;
}

.padding {
    padding: 15px 20px;
}

footer {
    clear: both;
    background-color: #2c2c2c;
    padding: 10px 0;
    margin-top: 10px;
}

    footer p {
        text-align: center;
        color: white;
        font-family: roboto;
    }


legend {
    font-weight: bold;
}

textarea#mensagem {
    max-height: 150px;
    max-width: 100%;
}
