@font-face {
    font-family: bubblegum;
    src: url(../_fonts/bubblegum-sans-regular.otf);
}

@font-face {
    font-family: roboto;
    src: url(../_fonts/Roboto-Regular.ttf);
}

/* HEADER */
.navbar {
    margin-bottom: 0 !important;
}

ul {
    list-style: none;
    text-transform: uppercase;
}

a {
    color: #242424;
    font-family: roboto, sans-serif;
    font-weight: bold;
    font-size: 11pt;
    text-decoration: none;
}

    a:hover {
        color: #AAAAAA;
    }

li.actived {
    border-bottom: 3px solid #cccccc;
}

#tituloSite {
    font-size: 29pt;
    font-family: bubblegum;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

h3#subtitulo {
    font-size: 15pt;
    font-family: bubblegum;
    color: #888888;
}
/* FIM HEADER */

/* FOOTER */
footer {
    clear: both;
    background-color: #2c2c2c;
    padding: 10px 0;
    margin-top: 10px;
}

    footer p {
        text-align: center;
        color: white;
        font-family: roboto;
    }
/* FIM FOOTER */


article h2 {
    font-size: 15pt;
    font-family: bubblegum;
    color: white;
    background-color: #606060;
    padding: 10px;
    margin-top: 0;
}

article p {
    text-align: justify;
    text-indent: 20px;
    font-family: roboto;
    font-size: 11pt;
    padding: 0;
}

.tituloNoticia {
    font-size: 21pt;
    font-family: bubblegum;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}


img.imgTopo {
    position: absolute;
    right: 10px;
    top: 10%;
    
}